[project]
	description = Dart IRC Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kenneth Endfinger (kaendfinger)
[access "refs/for/refs/*"]
	read = group user/Kenneth Endfinger (kaendfinger)
	push = group user/Kenneth Endfinger (kaendfinger)
	label-Code-Review = -2..+2 group user/Kenneth Endfinger (kaendfinger)
	label-Verified = -1..+1 group user/Kenneth Endfinger (kaendfinger)
	rebase = group user/Kenneth Endfinger (kaendfinger)
	removeReviewer = group user/Kenneth Endfinger (kaendfinger)
	submit = group user/Kenneth Endfinger (kaendfinger)
[access "refs/heads/*"]
	read = group user/Kenneth Endfinger (kaendfinger)
	create = group user/Kenneth Endfinger (kaendfinger)
	push = +force group user/Kenneth Endfinger (kaendfinger)
	pushMerge = group user/Kenneth Endfinger (kaendfinger)
[access "refs/tags/*"]
	push = +force group user/Kenneth Endfinger (kaendfinger)
	pushTag = group user/Kenneth Endfinger (kaendfinger)
	pushSignedTag = group user/Kenneth Endfinger (kaendfinger)
